@media ( max-width: 1100px ) {

    .header-box h6 {
        margin-left: 20px;
    }
    .header-ul {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .footer-copyright {
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .index-section1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 100%;
        padding: 50px 0;   
    }
    .s1-info-box {
        margin-top: 50px;
    }
    .index-section2 {
        height: 100%;
    }
    .s2-big-box {
        height: 100%;
    }
    .s2-menu-box {
        height: 100%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .s2-box {
        width: 40%;
        height: 450px;
        margin-top: 50px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .s2-food-box,
    .s2-desert-box {
        margin: 0;
    }
    .index-section2 h1,
    .s2-h6 {
        margin-left: 7%;
    }
    .index-section3 {
        height: 300px;
    }
    .s3-check-box {
        height: 100%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .s3-check-in,
    .s3-check-out {
        width: 35%;
    }
    .s3-rooms {
        width: 15%;
    }
    .s3-submit {
        margin: 0 auto;
    }
    .s3-check-box input {
        width: 100%;
    }
    .s4-img-box img {
        max-width: 245px;
        height: 245px;
    }
    .contact-s1-map {
        margin: 0 3%;
    }
    .contact-section2 {
        height: 100%;
    }
    .contact-s2-box {
        height: 950px;
    }
    .contact-s2-minibox {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 600px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .contact-s2-box h1,
    .contact-s2-box h4 {
        margin-left: 15%;
    }

}