
@media ( max-width: 770px ) {

    .header-ul {
        display: none;
    }
    .burger-icon {
        display: block;
        margin-right: 20px;
    }
    .header-box1 {
        margin-top: 200px;
        margin-left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .footer {
        min-height: 395px;
        height: 100%;
        padding-bottom: 50px;
    }
    .footer-box {
        min-height: 191px;
        height: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .footer-about {
        width: 50%;
        height: 250px;
        margin: 0 25%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 50px;
    }
    .footer-social {
        width: 90%;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
    .footer-links {
        width: 35%;
        margin-left: 25%;
    }
    .footer-privacy {
        width: 30%;
        margin-right: 10%;
    }
    .footer-contact {
        width: 210px;
        height: 180px;
        padding-top: 30px;
        margin: 0 auto;
    }
    .footer-copyright {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 30px;
    }
    .footer-copyright p:nth-child(1) {
        width: 260px;
        margin: 0 auto;
        height: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-copyright p:nth-child(2) {
        margin-top: 20px;
    }
    .s1-img-box {
        width: 290px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .s1-img-minibox {
        display: none;
    }
    .s1-img-minibox1{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 50px;
    }
    .s1-info-box{
        width: 290px;
    }
    .s1-info-box h1 {
        width: 100%;
        font-size: 27px;
    }
    .s1-info-p1 {
        width: 100%;
        height: 128px;
    }
    .s1-info-p2{
        width: 100%;
        height: 128px;
    }
    .s2-box {
        width: 290px;
    }
    .index-section2 h1 {
        width: 270px;
        font-size: 20px;
    }
    .index-section3 {
        height: 350px;
    }
    .s3-check-in,
    .s3-check-out {
        width: 48%;
        margin-bottom: 30px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .s3-submit {
        width: 60%;
        margin: 0;
    }
    .s3-button {        
        width: 100%;
    }
    .s3-rooms {
        width: 30%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .index-section4,
    .contact-section3 {
        height: 100%;
    }
    .s4-img-box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .index-section4 h1,
    .contact-section3 h1 {
        width: 267px;
        font-size: 18px;
    }
    .contact-section2 {
        padding: 0 3%;
    }
    .contact-s2-about {
        max-width: 250px;
    }
    .contact-s2-button {
        width: 430px;
    }
    .contact-s2-submit {
        margin: 0 auto;
    }
    .contact-s2-box {
        height: 1200px;
    }
    .contact-s2-contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        height: 415px;
    }
    .contact-s2-contact-box {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        max-width: 280px;
    }
    .contact-s2-contact-box div:nth-child(2) {
        width: 220px;
    }
    .s4-img-box img {
        max-width: 352px;
        width: 100%;
        height: 352px;
        margin-top: 30px;
    }


}